#title {
    text-align: center;
}

#predicates-list-field {
    margin: 0;
}

.predicate {
    padding: 0 5px;
}

.predicate > * {
    margin-right: 5px;
}

#add-predicate {
    text-align: right;
}
